.typewriter {
  font-weight: 700;
}

.images {
  opacity: 0;
}

.aside {
  --imageName: url(/assets/images/pirate.png);

  grid-area: aside;
  position: relative;
  background-image: var(--imageName);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: auto;

  opacity: 0;
  transition: opacity 1s ease;

  &.loaded {
    opacity: 1;
  }
}
